@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));


:root {
  --background: #ffffff;
  --foreground: #171717;
}

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-brand: #a3e635;
  --color-brand-foreground: #000000;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}



/* Diminuição padrão na escala do app em telas menores */
@layer base {
  html {
    /* Diminui o tamanho base em telas menores que 640px (sm) */
    font-size: 90%;
  }

  @media (min-width: 640px) {
    html {
      font-size: 100%;
      /* Volta ao padrão em tablets e desktops */
    }
  }
}






/* ---------------------- SCROLL ---------------------- */

/* Estilização para Chrome, Edge e Safari */
:root {
  color-scheme: light;
  /* Força o scrollbar a ser claro por padrão */
}

/* Quando o elemento html tiver a classe dark */
html.dark,
[data-theme='dark'] {
  color-scheme: dark;
  /* Força o scrollbar a ser escuro */
}

/* Customização visual (Opcional) */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
  /* Deixa o fundo limpo */
}

::-webkit-scrollbar-thumb {
  background-color: #d1d5db;
  /* gray-300 */
  border-radius: 20px;
  border: 3px solid transparent;
  background-clip: content-box;
}

.dark ::-webkit-scrollbar-thumb {
  background-color: #4b5563;
  /* gray-600 */
}